<!doctype html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container mx-auto">
    <header class="bg-white shadow-sm border-bottom">
        <div class="container">
            <div class="row align-items-center py-2">
                <!-- Logo -->
                <div class="col-md-3 col-6">
                    <a href="/" class="text-decoration-none">
                        <h4 class="text-primary m-0 fw-bold">MiniShop</h4>
                    </a>
                </div>

                <!-- Search -->
                <div class="col-md-5 d-none d-md-block">
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Tìm sản phẩm...">
                        <button class="btn btn-primary" type="submit">Tìm</button>
                    </form>
                </div>

                <!-- Right icons -->
                <div class="col-md-4 col-6 text-end">
                    <a href="/cart" class="btn btn-outline-secondary position-relative me-2">
                        🛒
                    </a>
                    <a href="/login" class="btn btn-outline-primary me-2">Đăng xuất</a>
                </div>

            </div>
        </div>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-top">
            <div class="container">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="menu">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                        <li class="nav-item">
                            <a class="nav-link active" href="/">Trang chủ</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/products">Sản phẩm</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/categories">Danh mục</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/contact">Liên hệ</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div layout:fragment="content">

    </div>
    <footer class="bg-dark text-light pt-4 mt-5">
        <div class="container">
            <div class="row">

                <!-- Thông tin shop -->
                <div class="col-md-3 mb-3">
                    <h5 class="fw-bold">MiniShop</h5>
                    <p class="small">
                        Website thương mại điện tử mini demo bằng Spring Boot + Thymeleaf.
                    </p>
                </div>

                <!-- Liên kết nhanh -->
                <div class="col-md-3 mb-3">
                    <h6 class="fw-bold">Liên kết</h6>
                    <ul class="list-unstyled">
                        <li><a href="/" class="text-decoration-none text-light">Trang chủ</a></li>
                        <li><a href="/products" class="text-decoration-none text-light">Sản phẩm</a></li>
                        <li><a href="/cart" class="text-decoration-none text-light">Giỏ hàng</a></li>
                    </ul>
                </div>

                <!-- Hỗ trợ -->
                <div class="col-md-3 mb-3">
                    <h6 class="fw-bold">Hỗ trợ</h6>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-decoration-none text-light">Chính sách</a></li>
                        <li><a href="#" class="text-decoration-none text-light">Điều khoản</a></li>
                        <li><a href="#" class="text-decoration-none text-light">Liên hệ</a></li>
                    </ul>
                </div>

                <!-- Mạng xã hội -->
                <div class="col-md-3 mb-3">
                    <h6 class="fw-bold">Kết nối</h6>
                    <a href="#" class="text-light me-2">Facebook</a><br>
                    <a href="#" class="text-light me-2">Instagram</a><br>
                    <a href="#" class="text-light">TikTok</a>
                </div>
            </div>
            <hr class="border-light">

            <div class="text-center pb-3">
                <small>© 2026 MiniShop. All rights reserved.</small>
            </div>
        </div>
    </footer>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>